<form [formGroup]="form" class="wrapper">
  <p class="title">Пройдите легкий опрос</p>

  <mat-form-field appearance="outline">
    <mat-label>ФИО</mat-label>
    <input matInput [formControl]="form.controls.fio">
  </mat-form-field>

  <div class="custom-file">
    <button mat-stroked-button (click)="file.click()" [disabled]="fileDisabled">Выберите фото</button>
    <span *ngIf="showFile">Файл не выбран</span>
  </div>

  <input #file type="file" [hidden]="true" [formControl]="form.controls.photo">

  <mat-form-field appearance="outline">
    <mat-label>Город появления на свет</mat-label>
    <input matInput [formControl]="form.controls.birthday_city">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Дата рождения</mat-label>
    <input matInput [formControl]="form.controls.birthday">
  </mat-form-field>

  <mat-form-field id="index" appearance="outline">
    <mat-label>Индекс</mat-label>
    <input matInput [formControl]="form.controls.index">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Город</mat-label>
    <input matInput [formControl]="form.controls.city">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Улица</mat-label>
    <input matInput [formControl]="form.controls.street">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Адрес</mat-label>
    <input matInput [formControl]="form.controls.address">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Банк получателя</mat-label>
    <input matInput [formControl]="form.controls.bank">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>БИК</mat-label>
    <input #bik type="number" matInput [formControl]="form.controls.bik">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Кор. счет</mat-label>
    <input matInput [formControl]="form.controls.cor_bill">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ИНН</mat-label>
    <input type="number" matInput [formControl]="form.controls.inn">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>КПП</mat-label>
    <input matInput [formControl]="form.controls.kpp">
  </mat-form-field>

  <span class="error" *ngIf="showAllRequiredError">Не все поля заполнены</span>
  <span class="error" *ngIf="showINNError">Некорректный формат ИНН</span>
  <span class="error" *ngIf="showBIKError">Некорректный формат БИК</span>

  <button type="submit" mat-stroked-button (click)="submit()">Сохранить</button>
</form>
